*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div1{
    display: block;
    text-align: center;
    height: 500px;
    width: 500px;
    border:5px solid orange;
    border-radius: 20px;
    margin-top: 50px;
    margin-left: 470px;
    background-color: white;
}
hr{
    border:1px solid black;
}
#div2{
    position: relative;
    top:55px;
}
#b1{
    margin-right: 20px;
}
.buttons{
    font-size:large;
    padding: 5px 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: orange;
    border:2px solid black;
    border-radius: 5px;
}
input{
    height: 30px;
    width: 50px;
    padding-left: 5px;
}
h1{
   position: relative;
   top:20px;

}
